#header-bar {
    margin:0 auto;
}

.topnav {
    list-style:none;
    text-align:right;
}

h1 {
    color:white;
    background-color:#556f7a;
    width:25%;
    float:left;
    padding:20px;
    text-align:center;
}

h2 {
    color:#556f7a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

body {
    color:#777777;
    float:left;
    background-color:#c7e8f3;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width:960px;
    position:center;
}

p {
    font-size: 16px;
    line-height:20px;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#ffffff;
    border-color:#cccccc;
}

footer {
    background-color:#eee0cb;
    color:#777777;
    text-align:center;
    padding:20px;
    border-top:10px;
    border-width:10px;
    border-color:#556f7a;
}

.bio-image {
    float:left;
}